// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.btn-right{
  float: right;
  margin-bottom: 10px;
}

.c-white{
  color: white !important;
}
